<section>
  <ul>
  {% for c in gitlog | take(5) %}
    <li>
      {% set github = site.author.relme[0] %}
      <a href="{{ github.key }}/{{ site.repo }}/commit/{{ c.hash }}" target="_blank" rel="noopener">
        {{ c.date }}: {{ c.message }}
      </a>
    </li>
  {% endfor %}
  </ul>
<details>
  <summary>
  git log --pretty<span class="blink">I</span>
  </summary>
  <ul>
  {% for c in gitlog | skip(5) %}
    <li>
      {% set github = site.author.relme[0] %}
      <a href="{{ github.key }}/{{ site.repo }}/commit/{{ c.hash }}" target="_blank" rel="noopener">
        {{ c.date }}: {{ c.message }}
      </a>
    </li>
  {% endfor %}
  </ul>
</details>
</section>