html {
  font-size: var(--sm);
  font-family: var(--font-family);
  line-height: 1.5;
}

body {
  background-color: var(--bg);
  color: var(--fg);
  max-width: 1200px;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body>header {
  border-bottom: 1px solid var(--muted);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body>header .h-nav {
  display: flex;
  gap: var(--xs)
}

#theme-toggle {
  margin-left: var(--xs);
  font-size: var(--md);
}

body>footer {
  border-top: 1px solid var(--muted);
  display: flex;
  justify-content: center;
  align-items: center;
}

body>footer p.h-card a.p-name::before {
  content: "©"
}

body>footer p.h-card a.p-name::after {
  content: " | "
}

body>footer p.h-card a[rel="me"]::after {
  content: " • "
}