html[data-theme="light"] body {
background-image: url("data:image/svg+xml,\
<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12'>\
  <rect width='12' height='12' fill='none' stroke='%23ffe6f7' stroke-width='1' />\
</svg>");
background-repeat: repeat;

}

html[data-theme="dark"] body {
  background-image: url("data:image/svg+xml,\
  <svg xmlns='http://www.w3.org/2000/svg' width='12' height='12'>\
    <rect width='12' height='12' fill='none' stroke='%23080818' stroke-width='1' />\
  </svg>");
  background-repeat: repeat;
}