{% extends "_layouts/base.html" %}

{% block content %}
<!--
<article class="e-content">

  <header>
    <h1 class="p-name">{{ title }}</h1>
    <p class="copyright">©<span class="p-author">{{ artist or author.name }}</span> <time>{{ pub | getYear }}</time></p>
  </header>

  <figure>
    <div class="player">
      <image src="/assets/img/{{ coverArt }}" alt="{{ title }}" width="300" height="300"></image>
      <audio src="/assets/audio/{{ audio }}" controls></audio>
      <p class="p-note">{{ caption }}</p>
    </div>
    <figcaption>
      <pre>
        {{ content | safe }}
      </pre>
        by: {{ artist or author.name }}, {% dateTime pub, upd %}
    </figcaption>
  </figure>

  <footer>
    {% include "tags.html" %}
    {% recommended "myMusic", page, collections %}
  </footer>

</article>
-->

<article class="h-entry">

  <header>
    <h1 class="p-name">{{ title }}</h1>
    <p class="p-note">{{ note }}</p>
  </header>

  <figure>
    <div class="player">
      <image src="/assets/img/{{ coverArt }}" alt="{{ title }}" width="300" height="300" class="u-photo"></image>
      <audio src="/assets/audio/{{ audio }}" controls class="u-audio">Loading...</audio>
    </div>
    <figcaption style="white-space: pre;" class="e-content">
      {{ content | safe }}
    </figcaption>
  </figure>

  <footer>
    <p class="copyright">©<span class="dt-published">{{ pub | getYear }}</span>
      <span class="h-card p-author">{{ artist or author.name }}</span>.
      All Rights Reserved.
    </p>
  </footer>

</article>
{% endblock %}